
:root {
    --grid-temp-dimensions: repeat(16, 1fr);
}



.clearButton{
    margin-left: auto;
    margin-right: auto;
}



.container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  
  grid-template-columns: var(--grid-temp-dimensions);
  grid-template-rows: var(--grid-temp-dimensions);
}

.dynamicDiv {
  border: 1px;
  border-style: solid;
  border-color: grey;
  min-height: 50px;
  min-width: 50px;
}

.sketched {
  background-color: black;
  box-shadow: 0px 0px 10px 5px;
}





